<div class="black-loader" [hidden]="!loading">
    <span>Loading...</span>
</div>

<div class="grid-post">
    <div *ngFor="let post of posts; index as postIndex; first as isFirst" class="grid-post--cell">
        <article  class="post type-post category-the-loop">
            <a [routerLink]="['/post', post.url | configurl]">
                <div class="post-img-thumb" *ngFor="let imageItem of post.multimedia; index as i;">
                    <div *ngIf="isFirst && i === 1" [ngStyle]="{ 'background': 'url(../../../assets/img/lores.jpg) no-repeat center', 'background-size': 'cover', 'height': '500px'   }"></div>
                    <img alt="post-img" *ngIf="!isFirst && i === 1" [src]="imageItem.url" [alt]="imageItem.caption" />
                </div>

                <div class="post-content-wrapper">
                    <header class="post-header">
                        <h2 class="post-headline">
                            <a title="The Loop : March 2020">
                                {{ post.title }}
                            </a>
                        </h2>
                    </header>
                    <div class="post-body the-excerpt">
                        {{ post.abstract }}
                    </div>

                    <div class="post-author">
                        <div class="post-author-img">
                            <img alt="Avatar for Sara Chipps"
                                src="https://secure.gravatar.com/avatar/d0414481a5039855d0f55df29a56746c?s=40&amp;d=mm&amp;r=g"
                                srcset="https://secure.gravatar.com/avatar/d0414481a5039855d0f55df29a56746c?s=80&amp;d=mm&amp;r=g 2x"
                                class="avatar avatar-40 photo d-block" height="40" width="40">
                        </div>
                        <div class="post-author-name">
                            <span><a href="#" title="Posts by Sara Chipps" class="author url fn" rel="author">Sara
                                    Chipps</a></span>
                            Director of Public Q&A
                        </div>
                    </div>
                </div>
            </a>
        </article>
    </div>
</div>