$primaryColor: #13150e;

.black-loader {
  min-height: 530px;
  position: relative;

  span {
    position: absolute;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
  }
}


.grid-post {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;

  &--cell {
    flex-basis: 23.5%;
    overflow: hidden;
    margin-bottom: 60px;
  }
}
a {
  text-decoration: none;
  color: $primaryColor;
  display: block;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.11), 0 2px 6px rgba(0, 0, 0, 0.11),
    0 3px 8px rgba(0, 0, 0, 0.14);
}

.grid-post--cell:first-child {
  flex-basis: 100%;
  margin-bottom: 40px;

  .post {
    position: relative;

    & > a {
      display: flex;
      min-height: 500px !important;
    }
    &-img-thumb {
      flex-basis: 100%;

      &:not(:nth-child(2)) {
        display: none;
      }
    }

    &-author {
      position: absolute;
      bottom: 30px;
    }


    &-content-wrapper {
      flex-basis: 35%;
      margin-left: 30px;
      padding-right: 30px;
    }
  }
}

.grid-post--cel:not(:first-child) {
  img:empty {
    background: rgb(198, 198, 198);
    min-height: 217px;
  }
}
.post-header {
  margin-top: 20px;
  color: #13150e;

  & > .post-headline {
    font-size: 24px;
    margin-bottom: 20px;
    color: #13150e;
  }
}

.post-body {
  font-size: 17px;
  line-height: 1.4;
  color: #5a5a5a;
  font-family: serif;
}

.post-author {
  display: flex;
  margin-top: 40px;

  &-img {
    margin-right: 12px !important;

    img {
      border-radius: 50%;
    }
  }

  &-name {
    color: #969696;

    & > span {
      display: block;
      margin-bottom: 5px;
      & > a {
        color: #4795d8;

        ::hover,
        ::focus {
          color: #378ad3;
        }
      }
    }
  }
}

