<app-container>
    <header class="header" role="banner">
        <div class="container">
            <nav class="nav">
                <div class="s-navigation">
                    <div class="s-navigation--left">
                        <a href="/" class="s-navigation--item">Latest</a>
                        <a href="/" class="s-navigation--item">Newsletter</a>
                        <a href="/" class="s-navigation--item">Podcast</a>
                        <a href="/" class="s-navigation--item">Company</a>
                    </div>
                    <div class="s-navigation--right">
                        <a href="/" class="s-navigation--item">Developer Hiring</a>
                        <a href="/" class="s-navigation--item">IT-Recruiting</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</app-container>