header {
  border-bottom: solid 1px #3d3d3d;
  padding: 32px 0 24px;
  margin-bottom: 20px;
}
.s-navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;

  li {
    list-style: none;
    display: inline-block;
  }

  &--item {
    color: #191b1f;
    margin: 2px;
    padding: 6px 11px;
    text-decoration: none;
    font-size: 16px;

    &.s-navigation--highlight {
      color: #191b1f;
      padding: 11px 24px;
      border: solid 1px #191b1f;
      margin-left: 15px;
      transition: .4s all ease;

      &:hover,
      &:focus { 
        background: #191b1f;
        color: #fff;
      }
    }
  }
}

.s-navigation--center {
  background: rgba(255, 255, 255, 0.75);
  text-align: center;
  margin-left: 6%;
  width: 200px;

  h1 {
    color: #1a1c20;
    font-family: serif;
    text-transform: uppercase;
    font-weight: 300;
    letter-spacing: 20px;
    font-size: 31px;
  }
}