<app-container>
    <header class="header" role="banner">
        <div class="container">
            <nav class="nav">
                <div class="s-navigation">
                    <ul class="s-navigation--left">
                        <li *ngFor="let menu of menus">
                            <a [routerLink]="menu.path" class="s-navigation--item">{{ menu.name }}</a>
                        </li>
                    </ul>
                    <div class="s-navigation--center s-navigation-logo">
                        <h1>Black</h1>
                    </div>
                    <div class="s-navigation--right">
                        <a routerLink="/search" class="s-navigation--item">Search</a>
                        <a href="https://github.com/alfinsuryaS/angular-project" target="_blank" class="s-navigation--item s-navigation--highlight">Open Github</a>
                    </div>
                </div>
            </nav>
        </div>
    </header>
</app-container>