
.banner {
    height: 500px;
    background: url('../../../../assets/img/lores.jpg') no-repeat center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}


