/* You can add global styles to this file, and also import other style files */

@mixin fontStyle() {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 15px;
}

* {
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    @include fontStyle()
}


body {
    background: #fff;
    color: #191b1f;
    min-width: 1080px;
}


::selection {
    background: #3d3d3d;
    color: #fff;
}

img {
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -moz-user-drag: none;
}